@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, :root{
  height: 100%;
  --rosso: #7a1f1c;
  --verde-scuro: #3D402F;
  --verde-chiaro: #9cde9f;
  --pesca: rgb(247, 178, 140);
}
