@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, :root{
  height: 100%;
  --rosso: #6E2215;
  --verde-scuro: #3B442F;
  --verde-chiaro: #9cde9f;
  --pesca: #FEEBCA;
}
::-webkit-scrollbar {
  display: none;
}

/* Per Firefox */
html {
  scrollbar-width: none;
}